<form id="register-form" action="/admin/register" method="post" class="form formPadrao" onsubmit="return checkRegisterForm(this);">
    <h3>Novo registro de usuário</h3>    
    <fieldset style="width: 100%;">
        <legend>Nome</legend>
        <label>
            <input name="name" type="text" value=""/>
        </label>
    </fieldset>
    <fieldset style="width: 100%;">
        <legend>Email</legend>
        <label>
            <input name="email" type="text" value=""/>
        </label>
    </fieldset>
    <fieldset style="width: 100%;">
        <legend>Senha</legend>
        <label>
            <input name="password" type="password"/>
        </label>
    </fieldset>
    <fieldset style="width: 100%;">
        <legend>Repita a senha</legend>
        <label>
            <input name="passwordRepeat" type="password"/>
        </label>
    </fieldset>
    <input value="Enviar" type="submit">
</form>
