
/* ELEMENTS
============================================================================= */
html, body { height:100%; }
body { font-size:14px; font-family:Arial, Helvetica, sans-serif; background:#d0e2f5; }
* { margin: 0; padding: 0; }
p { margin: 5px; }
hr { margin: 15px 0; }
h1 { font-size: 32px; margin: 10px; }
h2 { font-size: 24px; margin: 10px; }
h3 { font-size: 18px;
  margin: 0 0 5px;
  line-height: 1em; }
h4 { font-size: 14px;
  margin: 0 0 10px;
  line-height: 1em; }
h5 { font-size: 14px;
  margin: 0 0 5px;
  line-height: 1em; }
div { display:block; }
ul { padding-left: 40px; }
dt { font-weight: bold; }
dd { margin-left: 20px; }

/* ELEMENT _ table
============================================================================= */
table { display: table; width: 100%; border-collapse: collapse; color: #003366; background-color: #E0F9FF; margin: 15px 0; }
table caption { text-align: left; font-weight: bold; font-size: 1em; }
table tr {}
table th { background: #336699; color: white; font-weight: bold; padding: 2px; border: 1px #D0E2F5 solid; font-size: 0.85em; }
table th a { color: white; }
table td { border: 1px #336699 solid; padding: 2px 6px;  }
tbody tr:nth-child(odd) { background-color: rgba(0,0,0,0.05); }
tbody tr:nth-child(even) { background-color: #f2faff; }