/* COMPONENT _ form padrao
======================================================= */
.formPadrao {
  background-color: inherit;
  h1,h2,h3,h4,h5,h6 { width: 100%; }
  fieldset {
    background-color: inherit;
    border: 0;
    position: relative;
    textarea {
      width: 100%;
    }
    legend {
      background-color: #2a2a2a;
      border-radius: 0;
      font-weight: normal;
    }
  }
  button[type=submit] {
    display: inline-block; overflow: hidden;
    height: 50px; width: 50px; margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    .material-icons {
      font-size: 40px;
    }
  }
  .add-existent {
    width: 100%;
  }
  .labelradio {
    width: 50%;
    display: inline-block;
    text-align: center;
    input[type=radio] {
      margin-right: 3px;
    }
  }
  .button-submit-send .material-icons {
    color: #40d377;
  }
  .button-submit-send .material-icons:hover {
    color: #84f7ba;
  }
  .button-submit-delete .material-icons {
    color: #ee0000;
  }
  .button-submit-delete .material-icons:hover {
    color: #ff5555;
  }
}