@use 'shared';

/* COMPONENT _ form padrao
======================================================= */
.formPadrao {
  background-color: inherit;

  h1, h2, h3, h4, h5, h6 {
    width: 100%;
  }

  cite {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
  }

  fieldset {
    background-color: inherit;
    border: 0;
    position: relative;
    box-sizing: border-box;
    padding: 3px;
    margin: 0 0 3px 0;

    textarea {
      width: 100%;
    }

    legend {
      background-color: #2a2a2a;
      border-radius: 0;
      font-weight: normal;
      width: 100%;
      color: white;
      padding: 4px 5px;
      box-sizing: border-box;
      font-size: 12px;

      a {
        color: #E0F9FF;
      }
    }
  }

  input {
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }

  input[type=radio] {
    width: auto;
    vertical-align: middle;
  }

  input[type=checkbox] {
    display: inline;
    width: inherit;
  }

  input[type=image] {
    display: inline;
    width: inherit;
    padding: 0;
    vertical-align: text-bottom;
  }

  input[type=submit] {
    border: 1px #333 solid;
    border-radius: 6px;
  }

  textarea {
    border: 1px #336699 solid;
    overflow: auto;
    margin: 0;
    width: calc(100% - 3px);
  }

  select {
    border: 1px #336699 solid;
    height: 20px;
    padding: 0;
    /*width: 100%;*/
  }

  button[type=submit] {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  label {
    margin: 0;
  }

  .add-existent {
    width: 100%;
  }

  .text-box-white {
    background-color: white;
    border: 1px #336699 solid;
    min-height: 20px;
    padding: 8px 10px;
    display: inline-block;
  }

  .labelradio {
    width: 50%;
    display: inline-block;
    text-align: center;

    * {
      white-space: nowrap;
    }

    input[type=radio] {
      margin-right: 3px;
    }
  }

  .form-submit-button {
    overflow: hidden;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  .form-submit-button-send{
    color: #40d377;
  }
  
  .form-submit-button-send:hover { color: #84f7ba; }

  .form-submit-button-delete {
    color: #cc0000;
  }

  .form-submit-button-delete:hover {
    color: #ff5555;
  }

  @media (min-width: 576px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h3 { width: 100%; }
    fieldset { width: 50%; }
  }
}

/* FORM TABLE
======================================================= */
.form-table {
  display: flex;
  flex-wrap: wrap;

  cite {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
  }

  fieldset {
    padding: 0;
    border: none;
    position: relative;
    width: 50%;

    legend {
      background-color: #336699;
      color: white;
      padding: 3px 6px;
      width: 100%;
      font-weight: bold;
      font-size: 0.85em;
      box-sizing: border-box;
    }
    select {
      width: 100%;
    }
  }

  input {
    padding: 2px;
    border: 1px solid gray;
    box-sizing: border-box;
    min-height: 26px;
  }

  input[type=number] {
    text-align: right;
  }

  input[type=submit] {
    padding: 0 6px;
    border: 2px outset buttonface;
    margin: 1px 3px;
    background-color: buttonface;
  }

  select {
    padding: 2px;
    border: 1px solid gray;
    box-sizing: border-box;
    min-height: 26px;
  }

  .form-submit-button {
    width: 25px;
    height: 25px;
    align-self: flex-end;
    background-color: transparent;
    border: none;

    .material-icons {
      font-size: 24px;
    }
  }

  .form-submit-button-send .material-icons{ color: #40d377; }

  .form-submit-button-send .material-icons:hover { color: #84f7ba; }

  .form-submit-button-delete .material-icons { color: #cc0000; }

  .form-submit-button-delete .material-icons:hover { color: #ff5555; }
}
.form-table-title { font-size: 18px; }
.form-back-red input { background-color: rgba(255,30,0,0.5) !important; }
.form-back-green input { background-color: rgba(70,255,0,0.3) !important; }
.form-back-yellow input { background-color: rgba(255,255,0,0.4) !important; }
.form-back-gray input { background-color: rgba(20,20,20,0.2); }
.form-back-white input { background-color: rgba(255,255,255,1) !important; }

/* ARTICLE
======================================================= */
.form-article {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-child(n) { width: 100%; }
  fieldset:nth-of-type(4) { width: 50%; }
  fieldset:nth-of-type(5) { width: 50%; }
  fieldset:nth-of-type(6) { width: 50%; }

  @media (min-width: 480px) {
    fieldset:nth-of-type(3) { width: 50%; }
  }
  @media (min-width: 580px) {
    fieldset:nth-of-type(3) { width: 25%; }
    fieldset:nth-of-type(4) { width: 25%; }
    fieldset:nth-of-type(5) { width: 25%; }
    fieldset:nth-of-type(6) { width: 25%; }
  }
  @media (min-width: 860px) {
    fieldset:nth-of-type(3) { width: 17%; }
    fieldset:nth-of-type(4) { width: 17%; }
    fieldset:nth-of-type(5) { width: 17%; }
    fieldset:nth-of-type(6) { width: 17%; }
    fieldset:nth-of-type(7) { width: 17%; }
  }
}

/* AUTHENTICATION
======================================================= */
.form-authentication {
  .form-authentication-actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    fieldset {
      width: 100%;
    }

    button {
      a {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

/** BASIC
====================================================== */
.form-basic {
  display: flex;
  flex-wrap: wrap;
  background-color: #444444;
  padding: 5px;

  fieldset {
    margin: 0 0 8px 0;
    padding: 0;
    border: 0;
    line-height: normal;
    flex-basis: 100%;
  }

  legend {
    margin: 0 0 2px 5px;
  }

  input[type="text"], textarea {
    padding: 4px 6px;
    border-style: none;
    border-radius: 4px;
    width: calc(100% - 15px);
    background-color: #ccc;
  }

  textarea {
    min-height: 10em;
    background-color: #bbb;
  }

  button {
    cursor: pointer;
    border: 0;
    background-color: transparent;

    svg {
      overflow: hidden;
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      color: #40d377;
    }
  }
  .form-submit-button-delete {
    svg {
      color: #e61919; // cc0000
    }
  }

  .plinct-shell {
    width: 100%;
    .plinct-getItemType {
      position: relative;
      width: 100%;
      input {
        padding: 4px 6px;
        border-style: none;
        border-radius: 4px;
        width: calc(100% - 15px);
        background-color: #ccc;
      }
      .plinct-getItemType-listItem {
        position: absolute;
        background-color: #ccc;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #333;

        li {
          padding: 3px 5px;
          cursor: pointer;
          border: 1px solid gray;
        }
      }
    }
  }

}

/** BOOK
====================================================== */
.form-book {
  display: flex;
  flex-wrap: wrap;

  fieldset:nth-of-type(n) { flex-basis: 50%; }
  fieldset:nth-of-type(1) { flex-basis: 100%; }
  fieldset:nth-of-type(8) { flex-basis: 100%; }
  fieldset:nth-of-type(9) { flex-basis: 100%; }

  @media (min-width: 768px) {
    fieldset:nth-of-type(n) { flex-basis: 25%; }
    fieldset:nth-of-type(2) { flex-basis: 20%; }
    fieldset:nth-of-type(3) { flex-basis: 15%; }
    fieldset:nth-of-type(4) { flex-basis: 50%; }
    fieldset:nth-of-type(5) { flex-basis: 15%; }

    fieldset:nth-of-type(6) { flex-basis: 20%; }
    fieldset:nth-of-type(7) { flex-basis: 20%; }
    fieldset:nth-of-type(8) { flex-basis: 60%; }

    fieldset:nth-of-type(9) { flex-basis: 60%; }
    fieldset:nth-of-type(10) { flex-basis: 20%; }
    fieldset:nth-of-type(11) { flex-basis: 20%; }
  }

  fieldset:nth-of-type(1)
  {
    flex-basis: 100%;
  }
}

/* CONTACT POINT
======================================================= */
.form-contactPoint {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-child(n) { width: 100%; }
  fieldset:nth-of-type(1) { width: 60px; }
  fieldset:nth-of-type(2) { width: calc(100% - 60px); }

  @media (min-width: 576px) {
    fieldset:nth-child(n) { width: 50%; }
    fieldset:nth-of-type(1) { width: 60px; }
    fieldset:nth-of-type(2) { width: calc(50% - 30px); }
    fieldset:nth-of-type(3) { width: calc(50% - 30px); }
    fieldset:nth-of-type(4) { width: calc(100% - 110px); }
    fieldset:nth-of-type(5) { width: 110px; }
  }

  @media (min-width: 768px) {
    fieldset:nth-of-type(1) { width: 60px; }
    fieldset:nth-of-type(2) { width: 160px; }
    fieldset:nth-of-type(3) { width: 160px; }
    fieldset:nth-of-type(4) { width: calc(100% - 490px); }
    fieldset:nth-of-type(5) { width: 110px; }
  }
  @media (min-width: 1024px) {
    fieldset:nth-of-type(1) { width: 55px; }
    fieldset:nth-of-type(2) { width: 125px; }
    fieldset:nth-of-type(3) { width: 100px; }
    fieldset:nth-of-type(4) { width: calc(100% - 855px); }
    fieldset:nth-of-type(5) { width: 110px; }
    fieldset:nth-of-type(6) { width: 185px; }
    fieldset:nth-of-type(7) { width: 170px; }

  }
}

/* EVENT
======================================================= */
.form-event {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-child(n) { width: 100%; }
  fieldset:nth-of-type(2) { width: 50%; }
  fieldset:nth-of-type(3) { width: 50%; }
  fieldset:nth-of-type(4) { width: 50%; }
  fieldset:nth-of-type(5) { width: 50%; }

  @media (min-width: 768px) {
    fieldset:nth-of-type(2) { width: 25%; }
    fieldset:nth-of-type(3) { width: 25%; }
    fieldset:nth-of-type(4) { width: 25%; }
    fieldset:nth-of-type(5) { width: 25%; }
  }

}

/* IMAGE OBJECT
======================================================= */
.form-imageObject {
  figure {
    width: 100%;
    text-align: center;
  }

  @media (min-width: 576px) {
    fieldset:nth-of-type(1) { width: 60px; }
    fieldset:nth-of-type(2) { width: calc(100% - 60px); }
    fieldset:nth-of-type(3) { width: 33.3%; }
    fieldset:nth-of-type(4) { width: 33.3%; }
    fieldset:nth-of-type(5) { width: 33.3%; }
    fieldset:nth-of-type(6) { width: 33.3%; }
    fieldset:nth-of-type(7) { width: 33.3%; }
    fieldset:nth-of-type(8) { width: 33.3%; }
    fieldset:nth-of-type(9) { width: 100%; }
  }

  @media (min-width: 992px) {
    fieldset:nth-of-type(3) { width: 16.66%; }
    fieldset:nth-of-type(4) { width: 16.66%; }
    fieldset:nth-of-type(5) { width: 16.66%; }
    fieldset:nth-of-type(6) { width: 16.66%; }
    fieldset:nth-of-type(7) { width: 16.66%; }
    fieldset:nth-of-type(8) { width: 16.66%; }
    fieldset:nth-of-type(9) { width: 100%; }
  }
}

.form-imageObject-upload {
  input {
    height: 26px;
  }

  fieldset:nth-of-type(2) {
    display: flex;
    label { width: 30%; align-self: center; }
    input { width: calc(100% - 30%); }
  }

  @media (min-width: 576px) {
    fieldset { width: 100%; }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    fieldset:nth-of-type(1) {
      width: 400px;
    }
    fieldset:nth-of-type(2) { width: calc(100% - 400px); }
    fieldset:nth-of-type(3) { width: calc(100% - 62px); }
  }
}

.form-imageObject-edit {
  figure {
    text-align: center;
    max-width: 200px;
    @include shared.figure-caption-black;
  }
  fieldset:nth-of-type(2) { width: 60px; display: inline-block; }
  fieldset:nth-of-type(3) { width: 145px; display: inline-block; }
  fieldset:nth-of-type(4) { width: calc(50% - 103px); display: inline-block; }
  fieldset:nth-of-type(5) { width: calc(50% - 102px);  display: inline-block; }
  fieldset:nth-of-type(7) { width: 100%; }

  @media (min-width: 576px) {
    display: block;
    fieldset:nth-of-type(1) { width: calc(100% - 205px); }
    fieldset:nth-of-type(6) { width: calc(100% - 205px); display: inline-block; }
  }

  @media (min-width: 674px) {
    fieldset:nth-of-type(4) { width: calc(50% - 205px); display: inline-block; }
    fieldset:nth-of-type(5) { width: calc(50% - 205px);  display: inline-block; }
    fieldset:nth-of-type(7) { width: calc(100% - 205px); display: inline-block; }
  }
}

/* INVOICE
====================================================== */
.form-invoice {
  fieldset:nth-of-type(1) { width: calc(50% - 18px); }
  fieldset:nth-of-type(4) { width: calc(50% - 50px); }

  span {
    display: inline-block;
    width: 18px;
    font-size: 18px;
    align-self: flex-end;
  }
  input {
    width: 100%;
  }
  button {
    background-color: transparent;
    padding: 0;
    border: none;
    height: fit-content;
    align-self: end;
    cursor: pointer;

    .form-submit-button-send {
      color: #84f7ba;
      height: 22px;
    }
    .icon-delete {
      color: #cc0000;
      font-size: 1.7em;
    }
  }
}

/* LOCALBUSINESS
====================================================== */
.form-localBusiness {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-of-type(n) { width: 100%; }

  @media (min-width: 360px) {
    fieldset:nth-of-type(6) { width: 50%; }
    fieldset:nth-of-type(7) { width: 50%; }
  }
}

/* OFFER
====================================================== */
.form-offer {
  display: flex;
  flex-wrap: wrap;
  fieldset {
    width: 50%;
  }
  @media (min-width: 576px) {
    fieldset {
      width: 25%;
    }
  }
  @media (min-width: 768px) {
    fieldset {
      width: 14%;
    }
    fieldset:nth-of-type(2) { width: 50px; }
    fieldset:nth-of-type(3) { width: calc(24% - 50px); }
  }
  @media (min-width: 1024px) {
    fieldset { width: 16%; }
    fieldset:nth-of-type(2) { width: 80px; }
    fieldset:nth-of-type(3) { width: calc(26% - 80px); }
  }
}

/* ORDER FORM
====================================================== */
.form-order {
  display: flex;
  flex-wrap: wrap;
  .choose-type-select { max-width: 160px; }
  fieldset:nth-of-type(n) { width: 100%; }
  fieldset:nth-of-type(3) { max-width: 160px; width: 50%; }
  fieldset:nth-of-type(4) { max-width: 160px; width: 50%; }
  fieldset:nth-of-type(5) { max-width: 160px; width: 50%; }
  fieldset:nth-of-type(6) { max-width: 160px; width: 50%; }

  @media (min-width: 576px) {
      fieldset:nth-of-type(3) { width: calc(50% - 80px); }
      fieldset:nth-of-type(5) { width: calc(50% - 80px); }
  }
}

.form-orderedItem-delete-button {
  button {
    svg {
      font-size: 1.3em;
    }
  }
}

/* PERSON
======================================================= */
.form-person {
  display: flex;
  flex-wrap: wrap;
  /*fieldset:nth-child(n) { width: 50%; }
  fieldset:nth-child(4) { width: 100%; }
  fieldset:nth-child(9) { width: 100%; }*/

  @media (min-width: 576px) {
    fieldset:nth-child(n) { width: 50%; }
  }
  @media (min-width: 768px) {
    fieldset:nth-of-type(n) { width: 33.33%; }
    fieldset:nth-of-type(7) { width: 50%; }
    fieldset:nth-of-type(8) { width: 50%; }
  }
  @media (min-width: 992px) {
    fieldset:nth-child(n) { width: 25%; }
  }
  @media (min-width: 1024px) {
    fieldset:nth-child(n) { width: 20%; }
    fieldset:nth-of-type(8) { width: 40%; }
  }
}

/* PLACE
====================================================== */
.form-place {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-of-type(n) { width: 100%; }
}

/* PRODUCT
======================================================= */
.form-product {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-of-type(3) { width: 100%; }
  fieldset:nth-of-type(4) { width: 100%; }
  fieldset:nth-of-type(5) { width: 100%; }
}

/* SERVICE
====================================================== */
.form-service {

  @media (min-width: 576px) {
    fieldset:nth-of-type(n) {
      width: 100%;
    }
    fieldset:nth-of-type(1) {
      width: 50%;
    }
    fieldset:nth-of-type(2) {
      width: 50%;
    }
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1024px) {
  }
}

/* TAXON
====================================================== */
.form-taxon {
  textarea {
    height: 150px;
  }

  @media (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    fieldset:nth-of-type(7) { width: 100%; }
    fieldset:nth-of-type(16) { width: 100%; }
    textarea {
      height: 100px;
    }
  }
}

/* THING
====================================================== */
.form-thing {
  fieldset:nth-of-type(n) { width: 100%; }
}

/* TRIP
====================================================== */
.form-trip {
  @media (min-width: 576px) {
    fieldset:nth-of-type(1) { width: 100%; }
    fieldset:nth-of-type(2) { width: 100%; }
    fieldset:nth-of-type(3) { width: 100%; }
    fieldset:nth-of-type(4) { width: 100%; }
    fieldset:nth-of-type(5) { width: 25%; }
    fieldset:nth-of-type(6) { width: 25%; }
    fieldset:nth-of-type(7) { width: 25%; }
    fieldset:nth-of-type(8) { width: 25%; }
  }
  @media (min-width: 768px) {
    fieldset:nth-of-type(1) { width: 50%; }
    fieldset:nth-of-type(2) { width: 50%; }
    fieldset:nth-of-type(5) { width: 25%; }
    fieldset:nth-of-type(6) { width: 25%; }
    fieldset:nth-of-type(7) { width: 25%; }
    fieldset:nth-of-type(8) { width: 25%; }
  }
}

/* USER
===================================================== */
.form-user {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-of-type(n) { width: 100%; }
  fieldset:nth-of-type(1) { width: 40px; }
  fieldset:nth-of-type(2) { width: calc(100% - 40px); }
  fieldset:nth-of-type(4) { width: 50%; }
  fieldset:nth-of-type(5) { width: 50%; }

  @media (min-width: 576px) {
    fieldset:nth-of-type(2) { width: calc(50% - 40px); }
    fieldset:nth-of-type(3) { width: 50%; }
  }
  @media (min-width: 768px) {
    fieldset:nth-of-type(2) { width: calc(32% - 40px); }
    fieldset:nth-of-type(3) { width: calc(68% - 276px); }
    fieldset:nth-of-type(4) { width: 138px; }
    fieldset:nth-of-type(5) { width: 138px; }
  }
  @media (min-width: 992px) {
    fieldset:nth-of-type(2) { width: calc(32% - 80px); }
    fieldset:nth-of-type(3) { width: calc(68% - 336px); }
  }
}

.form-user-privileges {

  display: flex;
  flex-wrap: wrap;
  fieldset:nth-of-type(n) { width: 50%; }
  fieldset:nth-of-type(1) { width: 110px; }
  fieldset:nth-of-type(2) { width: calc(40% - 96px); }
  fieldset:nth-of-type(4) { width: calc(60% - 96px); }
}

/* WEBSITE
====================================================== */
.form-webSite {
  @media (min-width: 576px) {
    fieldset:nth-of-type(3) { width: 100%; }
  }
}

/* WEB PAGE
====================================================== */
.form-webPage {
  fieldset:nth-of-type(5) { width: 100%; }
  fieldset:nth-of-type(6) { width: 100%; }
}

/* WEB PAGE ELEMENT
====================================================== */
.form-webPageElement {
  display: flex;
  flex-wrap: wrap;
  fieldset:nth-of-type(1) { width: calc(100% - 60px); }
  fieldset:nth-of-type(2) { width: 60px; }
  fieldset:nth-of-type(3) { width: 100%; }
  fieldset:nth-of-type(4) { width: 100%; }
}
