/* COMPONENT _ form padrao
======================================================= */
.formPadrao {
  background-color: inherit;

  h1, h2, h3, h4, h5, h6 {
    width: 100%;
  }

  cite {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
  }

  fieldset {
    background-color: inherit;
    border: 0;
    position: relative;
    box-sizing: border-box;
    padding: 3px;
    margin: 0 0 3px 0;

    textarea {
      width: 100%;
    }

    legend {
      background-color: #2a2a2a;
      border-radius: 0;
      font-weight: normal;
      width: 100%;
      color: white;
      padding: 4px 5px;
      box-sizing: border-box;
      font-size: 12px;

      a {
        color: #E0F9FF;
      }
    }
  }

  input {
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }

  input[type=radio] {
    width: auto;
    vertical-align: middle;
  }

  input[type=checkbox] {
    display: inline;
    width: inherit;
  }

  input[type=image] {
    display: inline;
    width: inherit;
    padding: 0;
    vertical-align: text-bottom;
  }

  input[type=submit] {
    border: 1px #333 solid;
    border-radius: 6px;
  }

  textarea {
    border: 1px #336699 solid;
    overflow: auto;
    margin: 0;
    width: calc(100% - 3px);
  }

  select {
    border: 1px #336699 solid;
    height: 20px;
    padding: 0;
    width: 100%;
  }

  button[type=submit] {
    display: inline-block;
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  label {
    margin: 0;
  }

  .add-existent {
    width: 100%;
  }

  .text-box-white {
    background-color: white;
    border: 1px #336699 solid;
    min-height: 20px;
    padding: 8px 10px;
    display: inline-block;
  }

  .labelradio {
    width: 50%;
    display: inline-block;
    text-align: center;

    * {
      white-space: nowrap;
    }

    input[type=radio] {
      margin-right: 3px;
    }
  }

  .button-submit-send .material-icons {
    color: #40d377;
  }

  .button-submit-send .material-icons:hover {
    color: #84f7ba;
  }

  .button-submit-delete .material-icons {
    color: #ee0000;
  }

  .button-submit-delete .material-icons:hover {
    color: #ff5555;
  }
}

/* FORM TABLE
======================================================= */
.form-table {
  display: flex;
  flex-wrap: wrap;

  cite {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
  }

  fieldset {
    padding: 0;
    border: none;
    position: relative;
    width: 50%;

    legend {
      background-color: #336699;
      color: white;
      padding: 3px 6px;
      width: 100%;
      font-weight: bold;
      font-size: 0.85em;
      box-sizing: border-box;
    }
    select {
      width: 100%;
    }
  }

  input {
    padding: 2px;
    border: 1px solid gray;
    box-sizing: border-box;
    min-height: 26px;
  }

  input[type=number] {
    text-align: right;
  }

  input[type=submit] {
    padding: 0 6px;
    border: 2px outset buttonface;
    margin: 1px 3px;
    background-color: buttonface;
  }

  select {
    padding: 2px;
    border: 1px solid gray;
    box-sizing: border-box;
    min-height: 26px;
  }
  .form-submit-button {
    width: 25px;
    height: 25px;
    align-self: flex-end;
    .material-icons {
      font-size: 25px;
    }
  }
}
.form-table-title { font-size: 18px; }
.form-back-red input { background-color: rgba(255,30,0,0.5) !important; }
.form-back-green input { background-color: rgba(70,255,0,0.3) !important; }
.form-back-yellow input { background-color: rgba(255,255,0,0.4) !important; }
.form-back-gray input { background-color: rgba(20,20,20,0.2); }
.form-back-white input { background-color: rgba(255,255,255,1) !important; }

/* IMAGE OBJECT FORM
======================================================= */
.form-imageObject {
  figure {
    width: 100%;
    text-align: center;
  }
}

/* ORDER FORM
====================================================== */
.form-order {
  display: flex;
  flex-wrap: wrap;
  .choose-type-select { max-width: 160px; }
  fieldset:nth-of-type(3) { max-width: 160px; width: 50%; }
  fieldset:nth-of-type(4) { max-width: 160px; width: 50%; }
  fieldset:nth-of-type(5) { max-width: 160px; width: 50%; }
  fieldset:nth-of-type(6) { max-width: 160px; width: 50%; }
}

/* INVOICE
====================================================== */
.form-invoice {
  span {
    display: inline-block;
    width: 18px;
    font-size: 18px;
    align-self: flex-end;
  }
  input {
    width: 100%;
  }
  fieldset:nth-of-type(1) { width: calc(100% - 18px); }
  fieldset:nth-of-type(4) { width: calc(100% - 67px); }
}

/* FORM OFFER
====================================================== */
.form-offer {
  display: flex;
  flex-wrap: wrap;
  fieldset {
    width: 50%;
  }
}
