
/* COMPONENT _ box
============================================================================= */
.box {
  margin-bottom: 1px;
  border: 1px gray solid;
  padding: 5px;
  border-radius: 3px;

  h1 {
    margin: 0;
    font-size: 1.4em;
  }

  form fieldset {
    display: block;
    margin-right: 0;
  }

  form fieldset textarea {
    display: block;
    min-height: 80px;
  }
}
/* COMPONENT _ material icons
====================================================================== */
.material-icons {
    font-size: 40px;
}

/* COMPONENT _ navbar-search
====================================================================== */
.search-box {
  margin: 0 5px;
  position: relative;

  .search-box-form {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;

    button {
      margin: 0;
      padding: 0;
      line-height: 0;
      border-width: 1px;
      height: 27px;

      svg {
        font-size: 26px;
        color: #444444;
      }
    }
  }

  .search-box-form-input {
    height: 20px;
    border-width: 3px;
  }

  .search-box-form-image {
    height: 25px;
    vertical-align: middle;
  }
}

/* COMPONENT _ figure caption black
===================================================================== */
@mixin figure-caption-black {
  figcaption {
    line-height: normal;
    background-color: black;
    padding: 3px;
    margin: 0;
    a {
      text-decoration: none;
      color: white;
    }
  }
  @media (min-width: 576px) {
    float: left; margin-right: 5px;
  }
}
.figure-caption-black {
  @include figure-caption-black;
}

/* SHARED
======================================================================== */
.caption_float_right { display: inline; }
.caption_float_right img { vertical-align: bottom; margin-right: 3px; }
.caption_float_right figcaption { display: inline; }
.red { font-weight: bold; color: red; }
a.white { color: white; }

/** BUTTONS
======================================================================= */
.button {
  margin: 5px;
  padding: 5px;
  border: 1px rgba(0,0,0,0.5) solid;
  border-radius: 8px;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  text-decoration: none;
  color: #222;
  cursor: pointer;
}

.icon-delete {
  font-size: 3em;
  color: #e61919;
}

.button-submit {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  font-size: 1.2em;
}

.button-link {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  text-decoration: underline;
}

/* TABLE INDEX
======================================================================= */
.tableIndex {
  .titr-gray {
    background-color: rgba(30,22,22,0.6) !important;
  }
}
