
/* COMPONENT _ box
============================================================================= */
.box {
  margin-bottom: 1px;
  border: 1px gray solid;
  /*background-color: #E0F9FF;*/
  background-color: #3a3a3a;
  padding: 4px;
  border-radius: 3px;

  h1 {
    margin: 0;
    font-size: 1.4em;
  }

  form fieldset {
    display: block;
    margin-right: 0;
  }

  form fieldset textarea {
    display: block;
    min-height: 80px;
  }
}
/* COMPONENT _ material icons
====================================================================== */
.material-icons {
    font-size: 40px;
}

/* COMPONENT _ navbar-search
====================================================================== */
.navbar-search { margin: 0 5px; position: relative; }
.navbar-search .material-icons { font-size: 25px; }
.navbar-search-form button { margin: 0; padding: 0; line-height: 0; border-width: 1px; }
.navbar-search-form-input { height: 20px; border-width: 3px; }
.navbar-search-form-image { height: 25px; vertical-align: middle; }

/* COMPONENT _ figure caption black
===================================================================== */
.figure-caption-black {
  line-height: 0 !important;
  figcaption {
    line-height: normal;
    background-color: black;
    padding: 3px;
    margin: 0;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

/* SHARED
======================================================================== */
.caption_float_right { display: inline; }
.caption_float_right img { vertical-align: bottom; margin-right: 3px; }
.caption_float_right figcaption { display: inline; }
.red { font-weight: bold; color: red; }
a.white { color: white; }
.button { margin: 5px; padding: 5px; border: 1px rgba(0,0,0,0.5) solid; border-radius: 8px; display: inline-block; background-color: rgba(255,255,255,0.5); text-decoration: none; color: #222; cursor: pointer; }
