
/* COMPONENT _ box
============================================================================= */
.box {
  margin-bottom: 1px;
  border: 1px gray solid;
  /*background-color: #E0F9FF;*/
  background-color: #3a3a3a;
  padding: 4px;
  border-radius: 3px;

  h1 {
    margin: 0;
    font-size: 1.4em;
  }

  form fieldset {
    display: block;
    margin-right: 0;
  }

  form fieldset textarea {
    display: block;
    min-height: 80px;
  }
}