/* ELEMENTS
============================================================================= */
html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background: #d0e2f5;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 5px;
}

hr {
  margin: 15px 0;
}

h1 {
  font-size: 32px;
  margin: 10px;
}

h2 {
  font-size: 24px;
  margin: 10px;
}

h3 {
  font-size: 18px;
  margin: 0 0 5px;
  line-height: 1em;
}

h4 {
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 1em;
}

h5 {
  font-size: 14px;
  margin: 0 0 5px;
  line-height: 1em;
}

div {
  display: block;
}

ul {
  padding-left: 40px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

/* ELEMENT _ table
============================================================================= */
table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  color: #003366;
  background-color: #E0F9FF;
  margin: 15px 0;
}
table caption {
  text-align: left;
  font-weight: bold;
  font-size: 1em;
}
table th {
  background: #336699;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px #D0E2F5 solid;
  font-size: 0.85em;
}
table th a {
  color: white;
}
table td {
  border: 1px #336699 solid;
  padding: 2px 6px;
}
table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
table tbody tr:nth-child(even) {
  background-color: #f2faff;
}
table .form-submit-button-delete {
  height: 25px;
  margin: 0;
}
table .form-submit-button-delete .material-icons {
  font-size: 25px;
}

/* WRAPPER
======================================================================== */
.wrapper {
  min-width: 990px;
}

/* HEADER
============================================================================= */
.header {
  background: white;
  overflow: hidden;
}

.container {
  padding-bottom: 30px;
}

.main {
  padding: 5px 10px;
  max-width: 1520px;
  margin: 0 auto;
  min-height: 400px;
}

/* MENU
======================================================================== */
.menu {
  background: #3399CC;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu h1 {
  margin: 5px;
  font-size: 0.9em;
}
.menu a {
  height: 22px;
  border-width: 1px 1px 0 1px;
  border-color: white;
  border-style: solid;
  margin-left: 5px;
  padding: 5px 5px 0 5px;
  background: #336699;
  color: #99ccFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
}
.menu a :hover {
  color: #336666;
}

.menu2 {
  background-color: #21C0F5;
  padding-left: 15px;
}

.menu3 {
  background-color: #6AD9F7;
  padding-left: 30px;
}

.menu4 {
  background-color: #C1E7F8;
  padding-left: 45px;
}

.menu5 {
  background-color: #d4ecf7;
  padding-left: 60px;
}

/* FOOTER
============================================================================= */
.footer {
  background-color: #336699;
  overflow: hidden;
  padding: 15px 3px;
  color: #99ccFF;
}

/* COMPONENT _ box
============================================================================= */
.box {
  margin-bottom: 1px;
  border: 1px gray solid;
  /*background-color: #E0F9FF;*/
  background-color: #3a3a3a;
  padding: 4px;
  border-radius: 3px;
}
.box h1 {
  margin: 0;
  font-size: 1.4em;
}
.box form fieldset {
  display: block;
  margin-right: 0;
}
.box form fieldset textarea {
  display: block;
  min-height: 80px;
}

/* COMPONENT _ material icons
====================================================================== */
.material-icons {
  font-size: 40px;
}

/* COMPONENT _ navbar-search
====================================================================== */
.navbar-search {
  margin: 0 5px;
  position: relative;
}

.navbar-search .material-icons {
  font-size: 25px;
}

.navbar-search-form button {
  margin: 0;
  padding: 0;
  line-height: 0;
  border-width: 1px;
}

.navbar-search-form-input {
  height: 20px;
  border-width: 3px;
}

.navbar-search-form-image {
  height: 25px;
  vertical-align: middle;
}

/* COMPONENT _ figure caption black
===================================================================== */
.figure-caption-black {
  line-height: 0 !important;
}
.figure-caption-black figcaption {
  line-height: normal;
  background-color: black;
  padding: 3px;
  margin: 0;
}
.figure-caption-black figcaption a {
  text-decoration: none;
  color: white;
}

/* SHARED
======================================================================== */
.caption_float_right {
  display: inline;
}

.caption_float_right img {
  vertical-align: bottom;
  margin-right: 3px;
}

.caption_float_right figcaption {
  display: inline;
}

.red {
  font-weight: bold;
  color: red;
}

a.white {
  color: white;
}

.button {
  margin: 5px;
  padding: 5px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 8px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #222;
  cursor: pointer;
}

/* COMPONENT _ form padrao
======================================================= */
.formPadrao {
  background-color: inherit;
}
.formPadrao h1, .formPadrao h2, .formPadrao h3, .formPadrao h4, .formPadrao h5, .formPadrao h6 {
  width: 100%;
}
.formPadrao cite {
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}
.formPadrao fieldset {
  background-color: inherit;
  border: 0;
  position: relative;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 0 3px 0;
}
.formPadrao fieldset textarea {
  width: 100%;
}
.formPadrao fieldset legend {
  background-color: #2a2a2a;
  border-radius: 0;
  font-weight: normal;
  width: 100%;
  color: white;
  padding: 4px 5px;
  box-sizing: border-box;
  font-size: 12px;
}
.formPadrao fieldset legend a {
  color: #E0F9FF;
}
.formPadrao input {
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
.formPadrao input[type=radio] {
  width: auto;
  vertical-align: middle;
}
.formPadrao input[type=checkbox] {
  display: inline;
  width: inherit;
}
.formPadrao input[type=image] {
  display: inline;
  width: inherit;
  padding: 0;
  vertical-align: text-bottom;
}
.formPadrao input[type=submit] {
  border: 1px #333 solid;
  border-radius: 6px;
}
.formPadrao textarea {
  border: 1px #336699 solid;
  overflow: auto;
  margin: 0;
  width: calc(100% - 3px);
}
.formPadrao select {
  border: 1px #336699 solid;
  height: 20px;
  padding: 0;
}
.formPadrao button[type=submit] {
  display: inline-block;
  overflow: hidden;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.formPadrao label {
  margin: 0;
}
.formPadrao .add-existent {
  width: 100%;
}
.formPadrao .text-box-white {
  background-color: white;
  border: 1px #336699 solid;
  min-height: 20px;
  padding: 8px 10px;
  display: inline-block;
}
.formPadrao .labelradio {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.formPadrao .labelradio * {
  white-space: nowrap;
}
.formPadrao .labelradio input[type=radio] {
  margin-right: 3px;
}
.formPadrao .button-submit-send .material-icons {
  color: #40d377;
}
.formPadrao .button-submit-send .material-icons:hover {
  color: #84f7ba;
}
.formPadrao .button-submit-delete .material-icons {
  color: #ee0000;
}
.formPadrao .button-submit-delete .material-icons:hover {
  color: #ff5555;
}

/* FORM TABLE
======================================================= */
.form-table {
  display: flex;
  flex-wrap: wrap;
}
.form-table cite {
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}
.form-table fieldset {
  padding: 0;
  border: none;
  position: relative;
  width: 50%;
}
.form-table fieldset legend {
  background-color: #336699;
  color: white;
  padding: 3px 6px;
  width: 100%;
  font-weight: bold;
  font-size: 0.85em;
  box-sizing: border-box;
}
.form-table fieldset select {
  width: 100%;
}
.form-table input {
  padding: 2px;
  border: 1px solid gray;
  box-sizing: border-box;
  min-height: 26px;
}
.form-table input[type=number] {
  text-align: right;
}
.form-table input[type=submit] {
  padding: 0 6px;
  border: 2px outset buttonface;
  margin: 1px 3px;
  background-color: buttonface;
}
.form-table select {
  padding: 2px;
  border: 1px solid gray;
  box-sizing: border-box;
  min-height: 26px;
}
.form-table .form-submit-button {
  width: 25px;
  height: 25px;
  align-self: flex-end;
}
.form-table .form-submit-button .material-icons {
  font-size: 25px;
}

.form-table-title {
  font-size: 18px;
}

.form-back-red input {
  background-color: rgba(255, 30, 0, 0.5) !important;
}

.form-back-green input {
  background-color: rgba(70, 255, 0, 0.3) !important;
}

.form-back-yellow input {
  background-color: rgba(255, 255, 0, 0.4) !important;
}

.form-back-gray input {
  background-color: rgba(20, 20, 20, 0.2);
}

.form-back-white input {
  background-color: white !important;
}

/* IMAGE OBJECT FORM
======================================================= */
.form-imageObject figure {
  width: 100%;
  text-align: center;
}

/* ORDER FORM
====================================================== */
.form-order fieldset:nth-of-type(3) {
  max-width: 160px;
}
.form-order fieldset:nth-of-type(4) {
  max-width: 160px;
}
.form-order fieldset:nth-of-type(5) {
  max-width: 160px;
}
.form-order fieldset:nth-of-type(6) {
  max-width: 160px;
}

/* INVOICE
====================================================== */
.form-invoice span {
  display: inline-block;
  width: 18px;
  font-size: 18px;
  align-self: flex-end;
}
.form-invoice input {
  width: 100%;
}
.form-invoice fieldset:nth-of-type(1) {
  width: calc(100% - 18px);
}
.form-invoice fieldset:nth-of-type(4) {
  width: calc(100% - 67px);
}

/* IMAGES GRID _ admin-images-grid
============================================================================ */
.imagesfromdatabase {
  width: 100%;
}

.admin-images-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 5px;
}
.admin-images-grid a {
  text-decoration: none;
}
.admin-images-grid .admin-images-grid-figure {
  position: relative;
}
.admin-images-grid .admin-images-grid-figure img {
  width: 100%;
}
.admin-images-grid .admin-images-grid-figure figcaption {
  background-color: black;
  line-height: normal;
}
.admin-images-grid .admin-image-grid-buttons {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}
.admin-images-grid .admin-image-grid-buttons p {
  width: calc(100% - 75px);
}
.admin-images-grid .admin-image-grid-buttons input[type=checkbox] {
  width: 18px;
}
.admin-images-grid .admin-image-grid-buttons button {
  width: 40px;
  height: 40px;
}
.admin-images-grid .admin-image-grid-buttons button .material-icons {
  font-size: 30px;
}

@media (min-width: 576px) {
  .form-postalAddress fieldset:nth-of-type(1) {
    width: 100%;
  }

  .form-place fieldset:nth-of-type(5), .form-place fieldset:nth-of-type(4), .form-place fieldset:nth-of-type(3) {
    width: 33.3%;
  }

  .formPadrao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .formPadrao h3 {
    width: 100%;
  }
  .formPadrao fieldset {
    width: 50%;
  }

  .form-propertyValue fieldset {
    width: calc(50% - 60px);
  }

  .form-place .form-place-map {
    margin: 5px 0;
  }

  .form-imageObject-upload fieldset {
    width: 100%;
  }

  .form-imageObject-edit {
    display: block;
  }
  .form-imageObject-edit .figure-caption-black {
    float: left;
    margin-right: 5px;
  }
  .form-imageObject-edit fieldset:nth-of-type(1) {
    width: calc(100% - 205px);
  }
  .form-imageObject-edit fieldset:nth-of-type(2) {
    width: calc((100% - 210px) / 2);
    display: inline;
  }
  .form-imageObject-edit fieldset:nth-of-type(3) {
    width: calc((100% - 210px) / 2);
    display: inline;
  }
  .form-imageObject-edit fieldset:nth-of-type(4) {
    width: calc(100% - 205px);
    display: inline;
  }

  .form-trip fieldset:nth-of-type(1) {
    width: 100%;
  }
  .form-trip fieldset:nth-of-type(2) {
    width: 100%;
  }
  .form-trip fieldset:nth-of-type(3) {
    width: 100%;
  }
  .form-trip fieldset:nth-of-type(4) {
    width: 25%;
  }
  .form-trip fieldset:nth-of-type(5) {
    width: 25%;
  }
  .form-trip fieldset:nth-of-type(6) {
    width: 25%;
  }
  .form-trip fieldset:nth-of-type(7) {
    width: 25%;
  }

  .form-contactPoint fieldset:nth-of-type(1) {
    width: 60px;
  }
  .form-contactPoint fieldset:nth-of-type(2) {
    width: calc(100% - 60px);
  }
  .form-contactPoint fieldset:nth-of-type(7) {
    width: 100%;
  }

  .form-imageObject fieldset:nth-of-type(1) {
    width: 60px;
  }
  .form-imageObject fieldset:nth-of-type(2) {
    width: calc(100% - 60px);
  }
  .form-imageObject fieldset:nth-of-type(3) {
    width: 33.3%;
  }
  .form-imageObject fieldset:nth-of-type(4) {
    width: 33.3%;
  }
  .form-imageObject fieldset:nth-of-type(5) {
    width: 33.3%;
  }
  .form-imageObject fieldset:nth-of-type(6) {
    width: 33.3%;
  }
  .form-imageObject fieldset:nth-of-type(7) {
    width: 33.3%;
  }
  .form-imageObject fieldset:nth-of-type(8) {
    width: 33.3%;
  }
  .form-imageObject fieldset:nth-of-type(9) {
    width: 100%;
  }

  .form-order fieldset:nth-of-type(3) {
    width: calc(50% - 80px);
  }
  .form-order fieldset:nth-of-type(5) {
    width: calc(50% - 80px);
  }

  .form-invoice fieldset:nth-of-type(1) {
    width: calc(100% - 452px);
    max-width: 120px;
  }
  .form-invoice fieldset:nth-of-type(2) {
    width: 120px;
  }
  .form-invoice fieldset:nth-of-type(3) {
    width: 120px;
  }
  .form-invoice fieldset:nth-of-type(4) {
    width: 130px;
  }
}
@media (min-width: 768px) {
  .form-postalAddress fieldset:nth-of-type(1) {
    width: 50%;
  }
  .form-postalAddress fieldset:nth-of-type(3) {
    width: 33.3%;
  }
  .form-postalAddress fieldset:nth-of-type(4) {
    width: 33.3%;
  }
  .form-postalAddress fieldset:nth-of-type(5) {
    width: 33.3%;
  }

  .form-imageObject-upload fieldset:nth-of-type(2) {
    width: 50%;
  }
  .form-imageObject-upload fieldset:nth-of-type(3) {
    width: 50%;
  }

  .form-trip fieldset:nth-of-type(4) {
    width: 25%;
  }
  .form-trip fieldset:nth-of-type(5) {
    width: 25%;
  }
  .form-trip fieldset:nth-of-type(6) {
    width: 25%;
  }
  .form-trip fieldset:nth-of-type(7) {
    width: 25%;
  }

  .form-contactPoint fieldset:nth-of-type(2) {
    width: calc(66.6% - 60px);
  }
  .form-contactPoint fieldset:nth-of-type(3) {
    width: 33.3%;
  }
  .form-contactPoint fieldset:nth-of-type(4) {
    width: calc(50% - 58px);
  }
  .form-contactPoint fieldset:nth-of-type(5) {
    width: 115px;
  }
  .form-contactPoint fieldset:nth-of-type(6) {
    width: calc(50% - 58px);
  }
  .form-contactPoint fieldset:nth-of-type(7) {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .form-imageObject-upload fieldset:nth-of-type(1) {
    width: calc(33.3% - 20px);
  }
  .form-imageObject-upload fieldset:nth-of-type(2) {
    width: calc(33.3% - 20px);
  }
  .form-imageObject-upload fieldset:nth-of-type(3) {
    width: calc(33.3% - 20px);
  }

  .form-contactPoint fieldset:nth-of-type(2) {
    width: calc(40% - 60px);
  }
  .form-contactPoint fieldset:nth-of-type(3) {
    width: 20%;
  }
  .form-contactPoint fieldset:nth-of-type(4) {
    width: calc(34% - 58px);
  }
  .form-contactPoint fieldset:nth-of-type(5) {
    width: 115px;
  }
  .form-contactPoint fieldset:nth-of-type(6) {
    width: 50%;
  }
  .form-contactPoint fieldset:nth-of-type(7) {
    width: 50%;
  }

  .form-imageObject fieldset:nth-of-type(3) {
    width: 16.66%;
  }
  .form-imageObject fieldset:nth-of-type(4) {
    width: 16.66%;
  }
  .form-imageObject fieldset:nth-of-type(5) {
    width: 16.66%;
  }
  .form-imageObject fieldset:nth-of-type(6) {
    width: 16.66%;
  }
  .form-imageObject fieldset:nth-of-type(7) {
    width: 16.66%;
  }
  .form-imageObject fieldset:nth-of-type(8) {
    width: 16.66%;
  }
  .form-imageObject fieldset:nth-of-type(9) {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .form-postalAddress fieldset:nth-of-type(1) {
    width: calc(40% - 115px);
  }
  .form-postalAddress fieldset:nth-of-type(2) {
    width: 15%;
  }
  .form-postalAddress fieldset:nth-of-type(3) {
    width: 15%;
  }
  .form-postalAddress fieldset:nth-of-type(4) {
    width: 15%;
  }
  .form-postalAddress fieldset:nth-of-type(5) {
    width: 15%;
  }

  .form-contactPoint fieldset:nth-of-type(2) {
    width: calc(35% - 60px);
  }
  .form-contactPoint fieldset:nth-of-type(3) {
    width: 15%;
  }
  .form-contactPoint fieldset:nth-of-type(4) {
    width: calc(20% - 58px);
  }
  .form-contactPoint fieldset:nth-of-type(5) {
    width: 110px;
  }
  .form-contactPoint fieldset:nth-of-type(6) {
    width: 25%;
  }
  .form-contactPoint fieldset:nth-of-type(7) {
    width: calc(100% - 120px);
  }
}

/*# sourceMappingURL=style.css.map */
