@use 'elements';
@use 'structure';
@use 'shared';
@use 'form';
@use 'image-grid';

// Dispositivos extra small (telefones em modo retrato, com menos de 576px)
@media (min-width: 576px) {
  .menu2 { padding-left: 6px; }
  .menu3 { padding-left: 12px; }
  .menu4 { padding-left: 18px; }
  .menu5 { padding-left: 24px; }
  %fieldset1column { width: 100%; }
  %fieldset2column { width: 50%; }
  %fieldset3column { width: 33.3%; }
  .formPadrao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h3 { width: 100%; }
    fieldset { width: 50%; }
  }
  // PROPERTY VALUE FORM
  .form-propertyValue {
    fieldset { width: calc(50% - 60px); }
  }
  .form-place {
    fieldset:nth-of-type(3) { @extend %fieldset3column }
    fieldset:nth-of-type(4) { @extend %fieldset3column }
    fieldset:nth-of-type(5) { @extend %fieldset3column }
    .form-place-map { margin: 5px 0; }
  }
  .form-postalAddress {
    fieldset:nth-of-type(1) { @extend %fieldset1column }
  }
  .form-imageObject-upload {
    fieldset { width: 100%; }
  }
  // IMAGE OBJECT FORM
  .form-imageObject-edit {
    display: block;
    .figure-caption-black { float: left; margin-right: 5px; }
    fieldset:nth-of-type(1) { width: calc(100% - 205px); }
    fieldset:nth-of-type(2) { width: calc((100% - 210px) / 2); display: inline; }
    fieldset:nth-of-type(3) { width: calc((100% - 210px) / 2); display: inline; }
    fieldset:nth-of-type(4) { width: calc(100% - 205px); display: inline; }
  }
  // TRIP FORM
  .form-trip {
    fieldset:nth-of-type(1) { width: 100%; }
    fieldset:nth-of-type(2) { width: 100%; }
    fieldset:nth-of-type(3) { width: 100%; }
    fieldset:nth-of-type(4) { width: 25%; }
    fieldset:nth-of-type(5) { width: 25%; }
    fieldset:nth-of-type(6) { width: 25%; }
    fieldset:nth-of-type(7) { width: 25%; }
  }
  // CONTACT POINT
  .form-contactPoint {
    fieldset:nth-of-type(1) { width: 60px; }
    fieldset:nth-of-type(2) { width: calc(100% - 60px); }
    fieldset:nth-of-type(7) { width: 100%; }
  }
  // IMAGE OBJECT
  .form-imageObject {
    fieldset:nth-of-type(1) { width: 60px; }
    fieldset:nth-of-type(2) { width: calc(100% - 60px); }
    fieldset:nth-of-type(3) { width: 33.3%; }
    fieldset:nth-of-type(4) { width: 33.3%; }
    fieldset:nth-of-type(5) { width: 33.3%; }
    fieldset:nth-of-type(6) { width: 33.3%; }
    fieldset:nth-of-type(7) { width: 33.3%; }
    fieldset:nth-of-type(8) { width: 33.3%; }
    fieldset:nth-of-type(9) { width: 100%; }
  }
  // ORDER
  .form-order {
    fieldset:nth-of-type(3) { width: calc(50% - 80px); }
    fieldset:nth-of-type(5) { width: calc(50% - 80px); }
  }
  // INVOICE
  .form-invoice {
    fieldset:nth-of-type(1) { width: calc(100% - 452px); max-width: 120px; }
    fieldset:nth-of-type(2) { width: 120px; }
    fieldset:nth-of-type(3) { width: 120px; }
    fieldset:nth-of-type(4) { width: 130px; }
  }
  // OFFER FORM
  .form-offer {
    fieldset { width: 25%; }
    fieldset:nth-of-type(1) {  }
  }
}
// Dispositivos small (telefones em modo paisagem, com menos de 768px)
@media (min-width: 768px) {
  .form-postalAddress {
    fieldset:nth-of-type(1) { width: 50%; }
    fieldset:nth-of-type(3) { width: 33.3%; }
    fieldset:nth-of-type(4) { width: 33.3%; }
    fieldset:nth-of-type(5) { width: 33.3%; }
  }
  .form-imageObject-upload {
    fieldset:nth-of-type(2) { width: 50%; }
    fieldset:nth-of-type(3) { width: 50%; }
  }
  // TRIP FORM
  .form-trip {
    fieldset:nth-of-type(4) { width: 25%; }
    fieldset:nth-of-type(5) { width: 25%; }
    fieldset:nth-of-type(6) { width: 25%; }
    fieldset:nth-of-type(7) { width: 25%; }
  }
  // CONTACT POINT
  .form-contactPoint {
    fieldset:nth-of-type(2) { width: calc(66.6% - 60px); }
    fieldset:nth-of-type(3) { width: 33.3%; }
    fieldset:nth-of-type(4) { width: calc(50% - 58px); }
    fieldset:nth-of-type(5) { width: 115px; }
    fieldset:nth-of-type(6) { width: calc(50% - 58px); }
    fieldset:nth-of-type(7) { width: 100%; }
  }
  // OFFER FORM
  .form-offer {
    fieldset { width: 14%; }
    fieldset:nth-of-type(2) { width: 50px; }
    fieldset:nth-of-type(3) { width: calc(24% - 50px); }
  }
}

// Dispositivos médios (tablets com menos de 992px)
@media (min-width: 992px) {
  .form-imageObject-upload {
    fieldset:nth-of-type(1) { width: calc(33.3% - 20px); }
    fieldset:nth-of-type(2) { width: calc(33.3% - 20px); }
    fieldset:nth-of-type(3) { width: calc(33.3% - 20px); }
  }
  // CONTACT POINT
  .form-contactPoint {
    fieldset:nth-of-type(2) { width: calc(40% - 60px); }
    fieldset:nth-of-type(3) { width: 20%; }
    fieldset:nth-of-type(4) { width: calc(34% - 58px); }
    fieldset:nth-of-type(5) { width: 115px; }
    fieldset:nth-of-type(6) { width: 50%; }
    fieldset:nth-of-type(7) { width: 50%; }
  }
  // IMAGE OBJECT
  .form-imageObject {
    fieldset:nth-of-type(3) { width: 16.66%; }
    fieldset:nth-of-type(4) { width: 16.66%; }
    fieldset:nth-of-type(5) { width: 16.66%; }
    fieldset:nth-of-type(6) { width: 16.66%; }
    fieldset:nth-of-type(7) { width: 16.66%; }
    fieldset:nth-of-type(8) { width: 16.66%; }
    fieldset:nth-of-type(9) { width: 100%; }
  }
  // OFFER FORM
  .form-offer {
    fieldset { width: 16%; }
    fieldset:nth-of-type(2) { width: 50px; }
    fieldset:nth-of-type(3) { width: calc(24% - 50px); }
  }
}

// Dispositivos large (desktops com menos de 1200px)
@media (min-width: 1200px) {
  .form-postalAddress {
    fieldset:nth-of-type(1) { width: calc(40% - 115px); }
    fieldset:nth-of-type(2) { width: 15%; }
    fieldset:nth-of-type(3) { width: 15%; }
    fieldset:nth-of-type(4) { width: 15%; }
    fieldset:nth-of-type(5) { width: 15%; }
  }
  // CONTACT POINT
  .form-contactPoint {
    fieldset:nth-of-type(2) { width: calc(35% - 60px); }
    fieldset:nth-of-type(3) { width: 15%; }
    fieldset:nth-of-type(4) { width: calc(20% - 58px); }
    fieldset:nth-of-type(5) { width: 110px; }
    fieldset:nth-of-type(6) { width: 25%; }
    fieldset:nth-of-type(7) { width: calc(100% - 120px); }
  }
  // OFFER FORM
  .form-offer {
    fieldset { width: 16%; }
    fieldset:nth-of-type(2) { width: 80px; }
    fieldset:nth-of-type(3) { width: calc(26% - 80px); }
  }
}