/* 
    Created on : 24 de mar de 2020, 15:48:54
    Author     : Mauro Cruz <maurocruz@pirenopolis.tur.br>
*/

body {  background: #222226; color: #d7d7d9; }
.header { background: #444; }
.admin-bar-top{ background-color: #222; }

a { color: #979797; }

.wrapper { background-color: #444; }

.menu { background-color: #4e4e4e; color: #eecc77; }
.menu a { background-color: #222226; color: #97b7c7; border-color: #aaa; font-weight: 700; }
.menu a:hover { color: #99ddff; }
.menu2 { background-color: #3e3e3e; }
.menu3 { background-color: #343434; }
.menu4 { background-color: #2e2e2e; }
.menu5 { background-color: #2a2a2a; }
.menu6 { background-color: #2a2a2a; }

form { background-color: #979797; }
form input[type=text] { background-color: #ccc; }
form input[type=date] { background-color: #ccc; }
form input[type=number] { background-color: #ccc; }
form input[type=password] { background-color: #ccc; }
form textarea { background-color: #bbb; }
.searchForm { background-color: #979797; }

table { color: #e7e7e7; }
table th { background-color: #444; border-color: #777; }
table th a:link { color: #e7e7e7; }
table th a:visited { color: #e7e7e7; }
table td { border-color: #222; }
table td a:link { color: #ffdd77; }
table td a:visited { color: #eecc77; }
tbody tr:nth-child(odd) {
    background-color: #777;
}
tbody tr:nth-child(even) {
    background-color: #676767;
}

.box { background-color: #3a3a3a; }

.formPadrao { background-color: inherit; }
.formPadrao fieldset { background-color: inherit; border: 0; }
.formPadrao legend { background-color: #2a2a2a; border-radius: 0; font-weight: normal; }

.form-inline legend { background-color: #2a2a2a; border-radius: 0; font-weight: normal; }

.button:link { color: #222; }
.button:visited { color: #222; }

.footer { background-color: #2e2e2e; color: inherit; }

.button a { color: #222; }

.button-dropdown-contracted::after { border-top-color: #777; }
.button-dropdown-expanded::after { border-bottom-color: #777; }


.form-table { background-color: transparent; }
.form-table fieldset legend { background-color: rgba(255,255,255,0.08); border-radius: 0; width: calc(100% - 12px); }
.form-back-red input { background-color: #fab5b5 !important; }
.form-back-green input { background-color: #b5fafa !important; }
.form-back-yellow input { background-color: #fafab5 !important; }